$ton-font-color: black;
$ton-bg-color: white;
$ton-font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$ton-font-size-base: 1rem;

$ton-brand-light: rgb(243, 224, 191);
$ton-brand-dark: rgb(59, 41, 29);
